body {
  font-family: "Segoe UI", "Segoe WP", Arial, Sans-Serif;
  max-width: 1300px;
  margin: auto;
}
/* uper navigation bar */
.uper-navigation-bar {
  /* border: 1px solid; */
  height: 150px;
  margin: 0;
}
.uper-navigation-bar li {
  display: inline-block;
  margin: 40px;
}
.uper-navigation-bar p {
  opacity: 0.6;
  font-size: 14px;
}
strong {
  font-size: 25px;
  font-weight: lighter;
}
/* search bar */
.search {
  width: 600px;
  height: 40px;
  box-shadow: 3px 3px 3px grey;
}
/* button */
.button {
  height: 40px;
  background-color: orange;
  border: 1px black;
  box-shadow: 3px 3px 3px grey;
  margin-right: 0px;
}
.button:hover {
  color: white;
}
/* sign in */
.sign-in {
  text-decoration: none;
  color: gray;
  font-size: 12px;
  margin-left: 0px;
  margin-right: 0px;
  display: block;
}
.sign-in:hover {
  color: lightskyblue;
  text-decoration: underline;
}
/* Middle navigation bar */
.middle-navigation-bar {
  border: 1px;
  height: 70px;
  text-align: center;
}
.middle-navigation-bar ul {
  margin-top: 0px;
}
.middle-navigation-bar li {
  display: inline-block;
  margin: 20px;
}
/* middle navigation bar links  */
.middle-navigation-bar a {
  text-decoration: none;
  padding: 20px 30px 15px 20px;
  color: black;
  text-align: center;
  font-size: 14px;
}
/* links on hover */
.middle-navigation-bar a:hover {
  background-color: rgba(0, 81, 255, 0.8);
  color: white;
}
/* lower navigation bar */
.lower-navigation-bar li {
  font-size: 14px;
  display: inline-block;
  padding: 5px;
}
.lower-navigation-bar li a {
  text-decoration: none;
  color: #666;
}
.lower-navigation-bar li a:hover {
  color: rgb(49, 49, 49);
  text-decoration: underline;
}
.li1 {
  margin-right: 8px;
}
/* body */
.body {
  height: 1000px;
  max-width: 1300px;
  /* border: 1px solid; */
  width: 1300px;
}
/* box 1*/
.div1 {
  width: 1280px;
  height: 350px;
  margin-top: 5px;
  margin-left: 10px;
  /* border: 1px solid; */
}
/* sub  boxes of box 1*/
.sub-div1 {
  width: 200px;
  margin-top: 10px;
  height: 330px;
  /* border: 1px solid; */
  display: inline-block;
  background-image: url("");
}
.sub-div2 {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  height: 330px;
  /* border: 1px solid; */
  display: inline-block;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx9L0sr8tkR-OA5M_s_P23Er0uoCGqv7CSDwPhTH6C0XUn4DsqTw&s"); */
}
